---
import Layout from "../layouts/Layout.astro"
import Section from "@/layouts/Section.astro"
import MenuCategory from "@/components/ui/MenuCategory.astro"
import { MenuNav } from "@/components/ui/MenuNav.tsx"
import SnsLinks from "@/components/sections/SnsLinks.astro"
import { getCollection } from "astro:content"

const menuEntries = await getCollection("menuSection", ({ data }) => {
  return true
}).then((entries) => entries.sort((a, b) => a.data.order - b.data.order))

const infoEntries = await getCollection("infoSection", ({ data }) => {
  return true
}).then((entries) => entries.sort((a, b) => a.data.order - b.data.order))
---

<Layout>
  <main class="container mx-auto grid justify-center grid-cols-1">
    <Section id="info" title="お店のご紹介" isPaddingX={true}>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 auto-rows-fr items-start w-full h-auto">
        {
          infoEntries.map((entry) => {
            switch (entry.data._type) {
              case "detailList":
                return (
                  <div class="w-full h-full bg-background border border-primary rounded-2xl p-4 grid grid-cols-1 gap-4">
                    <h3>{entry.data.title}</h3>
                    <ul>
                      {entry.data.items.map((item) => (
                        <li>
                          <span>{item.label}</span>
                          <span>{item.detail}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                )
              case "contact":
                return (
                  <div class="w-full h-full bg-background border border-primary rounded-2xl p-4 grid grid-cols-1 gap-4">
                    <h3>{entry.data.title}</h3>
                    <ul>
                      <li>{entry.data.phoneNumber}</li>
                      <li>{entry.data.email}</li>
                    </ul>
                  </div>
                )
              default:
                console.warn("w")
                return null
            }
          })
        }
      </div>
    </Section>

    <!-- アクセス -->
    <Section id="access" title="アクセス" isPaddingX={true}>
      <div class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] w-full h-auto">
        <div class="p-7 bg-background round-sm shadow">
          <h3 class="text-xl mb-3.5 border-b-2 pb-2">店舗情報</h3>
          <p><strong>住所:</strong> 〒123-4567 東京都〇〇区△△町 0-0-0 □□ビル 1F</p>
          <p><strong>最寄り駅:</strong> 〇〇線△△駅から徒歩5分</p>
          <div class="mt-7 rounded-sm overflow-hidden h-80">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d260.9677655243392!2d133.33532607077836!3d35.43288113415353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f150!3m3!1m2!1s0x3556f785e9332955%3A0xe304ec2592395767!2z5Liy44Go44KT5Lqt5pel5pys6YWS6YWS5aC05LiJ5Luj55uu44Gy44KH44GG44Gf44KT!5e0!3m2!1sja!2sjp!4v1744096017161!5m2!1sja!2sjp"
              class="w-full h-full aspect-square md:aspect-video"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </Section>

    <!-- SNS -->
    <Section id="sns" title="SNS LINK" isPaddingX={true}>
      <SnsLinks />
    </Section>

    <!-- メニュー -->
    <Section id="menu" title="メニュー" isPaddingX={false}>
      <MenuNav client:load />
      <div id="menu-content" class="scroll-pt-52 mx-auto w-full h-auto">
        {
          menuEntries.map((entry) => {
            switch (entry.data._type) {
              case "foodList":
                return (
                  <MenuCategory title={entry.data.title} id="yakiton">
                    <div class="grid grid-cols-[auto-fill,minmax(250px,1fr)] gap-5">
                      {entry.data.items.map((item) => (
                        <div class="bg-primary/20 rounded-sm overflow-hidden shadow">
                          <div class="p-4">
                            <div class="text-lg font-bold mb-1">{item.name}</div>
                            <div class="text-gray-500">{item.description}</div>
                          </div>
                        </div>
                      ))}
                    </div>
                  </MenuCategory>
                )
              case "sakeList":
                return (
                  <MenuCategory title={entry.data.title} id="sake">
                    <div class="grid grid-cols-[auto-fill,minmax(250px,1fr)] gap-5">
                      {entry.data.items.map((item) => (
                        <div class="bg-primary/20 rounded-sm overflow-hidden shadow">
                          <div class="p-4">
                            <div class="text-lg font-bold mb-1">{item.brand}</div>
                            <div class="text-lg font-bold mb-1">{item.prefecture}</div>
                            <ul>
                              {item.items.map((item) => (
                                <li>
                                  <span>{item.name}</span>
                                  <span>{item.price}</span>
                                </li>
                              ))}
                            </ul>
                          </div>
                        </div>
                      ))}
                    </div>
                  </MenuCategory>
                )
              case "drinkList":
                return (
                  <MenuCategory title={entry.data.title} id="drink">
                    <div class="grid grid-cols-[auto-fill,minmax(250px,1fr)] gap-5">
                      {entry.data.items.map((item) => (
                        <div class="bg-primary/20 rounded-sm overflow-hidden shadow">
                          <div class="text-lg font-bold mb-1">{item.category}</div>
                          <ul>
                            {item.items.map((item) => (
                              <li>
                                <span>{item.name}</span>
                                <span>{item.price}</span>
                              </li>
                            ))}
                          </ul>
                        </div>
                      ))}
                    </div>
                  </MenuCategory>
                )
            }
          })
        }
      </div>
    </Section>
  </main>
  <script is:inline>
    const menuContent = document.getElementById("menu-content")
    const menuContentHeight = menuContent.offsetHeight
    menuContent.style.height = `${menuContentHeight}px`
  </script>
</Layout>
