---
import Layout from '../layouts/Layout.astro'
import '../styles/index.css'
import { basicInfoSection } from '@/data/shopInfo'
import Section from '@/layouts/Section.astro'
import { foods, yakiton } from '@/data/menu.ts'
import MenuCategory from '@/components/ui/MenuCategory.astro'
import { drink, sake } from '@/data/menu.ts'
import { snsLinks } from '@/data/sns-links.ts'
import { MenuNav } from '@/components/ui/MenuNav.tsx'
---

<Layout>
  <main class="container mx-auto px-4">
    <!-- 基本情報 -->
    <Section id="info" title="基本情報">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 auto-rows-fr items-start">
        {
          basicInfoSection.items.map((item) => (
            <div class="w-full h-full bg-background border border-primary rounded-2xl p-4 grid grid-cols-1 gap-4">
              <h3 class="text-xl font-bold ">{item.title}</h3>
              <ul>
                {item.contents.map((content) => (
                  <li set:html={content} />
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </Section>

    <!-- アクセス -->
    <Section id="access" title="アクセス">
      <div class="info-grid">
        <div class="info-item">
          <h3>店舗情報</h3>
          <p><strong>住所:</strong> 〒123-4567 東京都〇〇区△△町 0-0-0 □□ビル 1F</p>
          <p><strong>最寄り駅:</strong> 〇〇線△△駅から徒歩5分</p>
          <div class="map-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d260.9677655243392!2d133.33532607077836!3d35.43288113415353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f150!3m3!1m2!1s0x3556f785e9332955%3A0xe304ec2592395767!2z5Liy44Go44KT5Lqt5pel5pys6YWS6YWS5aC05LiJ5Luj55uu44Gy44KH44GG44Gf44KT!5e0!3m2!1sja!2sjp!4v1744096017161!5m2!1sja!2sjp"
              class="w-full h-full aspect-square md:aspect-video"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </Section>

    <Section id="sns" title="SNS LINK">
      <div class="info-grid">
        {
          snsLinks.map((link) => (
            <a href={link.url} class="sns-link" target="_blank" rel="noopener noreferrer">
              <div class="sns-icon">{link.icon}</div>
              <span class="sns-name">{link.name}</span>
            </a>
          ))
        }
      </div>
    </Section>

    <!-- メニュー -->
    <Section id="menu" title="メニュー" class="@container">
      <MenuNav client:load />
      <div class="menu-content">
        <MenuCategory title={yakiton.title} id={`${yakiton.title}`}>
          <div class="menu-items">
            {
              yakiton.contents.map((item) => (
                <div class="menu-item">
                  <div class="menu-item-info">
                    <div class="menu-item-title">{item.name}</div>
                    <div class="menu-item-description">{item.description}</div>
                  </div>
                </div>
              ))
            }
          </div>
        </MenuCategory>

        <MenuCategory title={foods.title} id={`${foods.title}`}>
          <div class="menu-items">
            {
              foods.contents.map((item) => (
                <div class="menu-item">
                  <div class="menu-item-info">
                    <div class="menu-item-title">{item.name}</div>
                    {typeof item.price === 'number' && (
                      <div class="menu-item-price">{Math.floor(item.price * 1.1)}円（税込）</div>
                    )}
                    <div class="menu-item-description">{item.description}</div>
                  </div>
                </div>
              ))
            }
          </div>
        </MenuCategory>

        <MenuCategory title={drink.title} id={`${drink.title}`}>
          <div class="menu-items">
            {
              drink.contents.map((content) => (
                <div class="menu-item">
                  <div class="menu-item-title">{content.category}</div>
                  <ul>
                    {content.items.map((item) => (
                      <li>
                        <span>{item.name}</span>
                        <span>{item.price}</span>
                      </li>
                    ))}
                  </ul>
                </div>
              ))
            }
          </div>
        </MenuCategory>

        <MenuCategory title={sake.title} id={`${sake.title}`}>
          <div class="menu-items">
            {
              sake.contents.map((content) => (
                <div class="menu-item">
                  <div class="menu-item-info">
                    <div class="menu-item-title">{content.brand}</div>
                    <div class="menu-item-title">{content.prefecture}</div>
                    <ul>
                      {content.items.map((item) => (
                        <li>
                          <span>{item.name}</span>
                          <span>{item.price}</span>
                          <span>{item.description}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              ))
            }
          </div>
        </MenuCategory>
      </div>
    </Section>
  </main>
</Layout>
